html, body {
  background: #2c2e31;
  font-family: 'Hanken Grotesk', Verdana;
}

*{
  padding: 0;
  margin: 0;
}

/******Aggiunta Font*********/
@font-face {
  font-family: 'Hanken Grotesk';
  src: local('Hanken Grotesk'),   /* nome del font */
  url('font/Hanken Grotesk/WEB/HankenGrotesk-Regular.woff') format('woff'),
  url('font/Hanken Grotesk/OTF/HankenGrotesk-Regular.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hanken GroteskBold';
  src: local('Hanken Grotesk'),   /* nome del font */
  url('font/Hanken Grotesk/WEB/HankenGrotesk-Semibold.woff') format('woff'),
  url('font/Hanken Grotesk/OTF/HankenGrotesk-Semibold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

/*********Colore selezione**************/
::selection {
  background-color: #83ba43;
  color: white;
}

h1{
  padding: 2% 0;
  text-align: center;
  color: #fff;
  font-size: 3em;
}

/**************Header********************/
header{
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
  background: #fff;
  padding: 2em 2% 1.7em 2%;
  z-index: 1;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

header label{
  font-size: 15pt;
}

.lst{
  margin-top: -0.7em;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #83ba43;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(131, 186, 67, 0.73);
}

/**************Wrapper********************/
#wrapper {
  width: 80%;
  margin: 2% auto;
  padding: 1% 2% 2% 2%;
  border-radius: 10px;
  background: #fff;
  text-align: center;
}

#wrapper h2{
  padding-bottom: 0.3em;
  font-family: 'Hanken GroteskBold';
}

.bg-info {
  background-color: #83ba43!important;
  font-family: 'Hanken GroteskBold'!important;
  text-align: center;
  line-height: 25pt;
}

#tabDati tbody{
  text-align: center;
}

/**************Container********************/
.container{
  background: #fff;
  padding: 1%;
  width: 800px;
  border-radius: 10px;
  margin-bottom: 1%;
}

.container h2{
  font-family: 'Hanken GroteskBold'!important;
  text-align: center;
  margin-bottom: 2%;
}

.container div{
  margin: 1% 20% 0 23%;
}

.container a{
  color: #2c2e31;
  width: 200px;
  background: #83ba43;
  border-color: #83ba43;
}

.container a:hover{
  background: #53ba33;
  border-color: #23ba43;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background: #53ba33;
  border-color: #23ba43;
}

/******************Wrapper upload********************/
#wrapperUpload{
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
  background: #fff;
  padding: 2em 2% 1.7em 2%;
  z-index: 1;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

#wrapperUpload button{
  color: #2c2e31;
  background: #83ba43;
  border-color: #83ba43;
}

#wrapperUpload button:hover{
  background: #53ba33;
  border-color: #23ba43;
}

#progress-wrp {
  border: 1px solid #53ba33;
  padding: 1px;
  position: relative;
  height: 30px;
  border-radius: 3px;
  text-align: left;
  background: #fff;
  box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
}

#progress-wrp .progress-bar {
  height: 100%;
  border-radius: 3px;
  background-color: #83ba43;
  width: 0;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}

#progress-wrp .status {
  top: 3px;
  left: 50%;
  position: absolute;
  display: inline-block;
  color: #000000;
}